@model FrontDeskCheckinWeb.ViewModels.Home.Index
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>
                Building
            </td>
            <td>
                Total Visitors
            </td>
            <td>
                Total Terminals
            </td>
            <td>
                First Visitor
            </td>
            <td>
                Last Visitor
            </td>
            <td>
                Average Daily Visitors
            </td>
            <td>
                Average Monthly Visitors
            </td>
        </tr>
    </thead>

    @foreach (var building in Model.Buildings)
    {
        <tr>
            <td>
                @Html.ActionLink(building.Name, "Index", "Terminals", new { building = building.Name }, null)
            </td>
            <td>
                @building.TotalVisitors
            </td>
            <td>
                @building.Terminals
            </td>
            <td>
                @if (building.FirstVisitor.HasValue)
                {
                    @building.FirstVisitor.Value.ToShortDateString()
                }
            </td>
            <td>
                @if (building.LastVisitor.HasValue)
                {
                    @building.LastVisitor.Value.ToShortDateString()
                }
            </td>
            <td>
                @building.AverageDailyVisitors.ToString("N")
            </td>
            <td>
                @building.AverageMonthlyVisitors.ToString("N")
            </td>
        </tr>
    }
</table>
