@model FrontDeskCheckinWeb.ViewModels.Home.Index
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>
                Building
            </td>
            <td>
                Total Visitors
            </td>
            <td>
                First Visitor
            </td>
            <td>
                Last Visitor
            </td>
            <td>
                Average Daily Visitors
            </td>
            <td>
                Average Monthly Visitors
            </td>
        </tr>
    </thead>

    @foreach (var building in Model.Buildings)
    {
        <tr>
            <td>
                @building.Name
            </td>
            <td>
                @building.TotalVisitors
            </td>
            <td>
                @building.FirstVisitor.ToShortDateString()
            </td>
            <td>
                @building.LastVisitor.ToShortDateString()
            </td>
            <td>
                @building.AverageDailyVisitors.ToString("N")
            </td>
            <td>
                @building.AverageMonthlyVisitors.ToString("N")
            </td>
        </tr>
    }
</table>
